@tailwind base;
@tailwind components;
@tailwind utilities;

.log-table tr:hover td {
  border-color: rgba(156, 163, 175, 1);
}

/* 전역 또는 해당 컴포넌트의 CSS 파일에서 추가 */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* 스크롤 트랙 색상 */
  padding-right: 10px; /* 스크롤바의 트랙을 이동시키는 방법 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ddd; /* 스크롤바 색상 */
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 화면이 640px 이하일 때 */
@media (max-width: 640px) {
  /* 전역 또는 해당 컴포넌트의 CSS 파일에서 추가 */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px; /* 스크롤바 너비 */
  }
}

/* 화면이 450px 이하일 때 */
@media (max-width: 450px) {
  /* 전역 또는 해당 컴포넌트의 CSS 파일에서 추가 */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px; /* 스크롤바 너비 */
  }
}
